<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
      <div class="field">
      <%= f.label :autor %><br>
      <%= f.text_field :autor %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </div>
  </div>  
  
  <div class="select">
    <%- # TODO: fields_for  -%>
    <%= select_tag 'post[tag_ids][]', options_for_select( Tag.all.collect{ |tag| [tag.name, tag.id] }, @post.tags.collect{ |tag| tag.id } ), multiple: true %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
